body {
  color: #4a4a4a;

  margin: 0;
  padding-bottom: 50px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
  color: white;

  height: 45px;
  position: sticky;
  top: 0;
}

main {
  padding: 10px 50px;
}

h3 {
  border-bottom: 1px solid lightgray;
  padding: 3px;
}
